@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 0;
    margin-right:0;
    margin-bottom:0;
    padding-bottom: 0;
    
}
html{
    margin: 0;
    margin-right:0;
    margin-bottom:0;
    padding-bottom: 0;
    padding: 0;
    height: 100vh;
    width:100vw;

}
a{
    text-decoration: none;
    color: black;
}
.product-image{
    max-width: 80%;
    height:auto;
    margin-bottom: 0;
}
.product-image img{
    max-width: 100%;
    height:auto;

}
.product-page{
    display: flex;
    flex-direction: column;
    max-width: 40%;
    text-align: center;
    align-items: center;
    margin-bottom: 3rem;

}

.back{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: -4rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    bottom:0;
    
}
.back-button{
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    background-color: antiquewhite;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 5rem;
    justify-content: center;
}
.add-to-cart{
    width: 100%;
    height: 10rem;
    align-items: center;
    text-align: center;
    margin-top: 0.4rem;
    margin-bottom: 3rem;
    
}
.add-to-cart-button{
    background-color: antiquewhite;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    justify-content: center;
}
.header{
  background-color: rgb(228, 213, 192);
  height: 7rem;
  padding:4rem;
  padding-top: 0;
  width: calc(100% - 8rem);
  font-size: 3rem;
  word-spacing: 0.2rem;

}
#product-description{
    margin-top: 1rem;
    margin-bottom:0.1rem;
    font-size: 3rem;
    max-width: 100%;
}
#product-price{
    font-size: 2.4rem;
    margin-top:0.5rem;
}
#product-name{
    font-size: 6rem;
    margin-top: 1rem;
    letter-spacing: 0.4em;
    margin-left: 0.3em;
}