<html>
    <head>
        <title> Potions Shop </title>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <h1>Welcome to the potions shop! </h1>
        <p> Here you can buy all sorts of magical potions! </p>
    </body>
</html>