<html>
    <head>
        <title> Potions Shop </title>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <header class="header">
            <img class ="header-image" src="..\images\header.png">
        </header>
        <hr>
        <div class="products-container">
            <% for(i =0; i< products.length; i++) {%>
                <div class="product-container">
                    <div class="product-image">
                        <img src = "..\images\products\potions\<%= products[i].img_filename %>" />
                    </div>
                    <div class="product-details">
                        <h1><%= products[i].name %></h1>
                        <p><%= products[i].description %></p>
                        <p>Price: <%= products[i].price %>€</p>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>