<html>
    <head>
        <title> Login </title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
            html{font-family: 'Roboto Slab', serif;}
            h1{
                text-decoration: underline;
                text-decoration-color: rgb(3, 3, 115);
            }
        </style>
    </head>
    <body>
        <h1> Already have an account? </h1>
        <h2> Login </h2>
        <form action= "/login/password" method="post">
                <label for="username"> Username </label>
                <input type="text" name="username" id ="username">
                <br>
                <br>
                <label for="password"> Password </label>
                <input type="password" name="password" id = "password">
                <br>
                <br>
                <input type="submit" name="submit" id="submit">
        </form>
        <br>
        Don't have an account? <a href="/register"> register now</a>
    </body>
</html>