<html>
    <head>
        <title> Register</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
            html{font-family: 'Roboto Slab', serif;}
        </style>
    </head>
    <body>
        <h1 style="text-decoration: underline; text-decoration-color: rgb(0, 0, 65);"> Register: </h1>
        <form style="display:inline-block;border:2px solid black;padding:2rem;" method="post" action="/register">
            username: 
            <input style="margin-bottom: 1rem;" type="text" name="username">
            <br>
            password: 
            <input type="password" name="password">
            <br>
            <input type="submit" name="submit" value ="submit">
        </form>
    </body>
</html>